@model int

<div class="container row py-3">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center"><strong>Order Placed Successfully!</strong></h1>
        Your Order Number is: @Model <br /><br />
        <img src="~/img/lawn_leaf-min.jpg" width="65%" />
    </div>
    <div class="col-12 text-center">
        <br />
        <strong>Your order has been placed successfully!</strong> <br />
    </div>
</div> 